/********/
/* Misc */
/********/

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

/**********/
/* Header */
/**********/

#logoText {
  text-align: center;
  margin: 0;
}

#logoText h2 {
  font-size: 1.5em;
}

#logoText,
#logoText:visited {
  color: black;
}

#logoText:hover {
  color: grey;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

nav a,
nav a:visited {
  color: black;
}

nav a:hover {
  color: grey;
}

nav ul li {
  font-size: 1.25em;
  display: inline;
  padding: 0 10px;
}

.active {
  border-bottom: 1px solid black;
}

/*************/
/* Container */
/*************/

#mainContainer {
}
